<fieldset [formGroup]="fieldset">
  <div class="form-inline">
    <div class="form-group mb-2">
      <label class="col-form-label">Fecha anio</label>
      <input class="form-control" placeholder="yyyy" type="text" formControlName="com_fecha_anio">
    </div>
    <div class="form-group mb-2">
      <label class="col-form-label">Fecha Semestre:</label>
      <select class="form-control" formControlName="com_fecha_semestre">
        <option [ngValue]="null">--Fecha Semestre--</option>
            <option value="1">1</option>
            <option value="2">2</option>
      </select>
    </div>
    <div class="form-group mb-2">
      <label class="col-form-label">Modalidad:</label>
      <select class="form-control" formControlName="com_modalidad">
        <option [ngValue]="null">--Modalidad--</option>
        <option *ngFor="let option of (optModalidad$ | async)" [value]="option.id" >{{option.id | label:"modalidad"}}</option>
      </select>
    </div>
    <div class="form-group mb-2">
        <label class="col-form-label">Centro Educativo</label>
        <app-fieldset-typeahead [fieldset]="fieldset" [entityName]="'centro_educativo'" [fieldName]="'com_sed_centro_educativo'"></app-fieldset-typeahead>
      </div>
  </div>
</fieldset>
