<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Fines 2</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="appNavigation" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
      <!--a (click)="toggleMenu()" class="nav-item nav-link" routerLink="" routerLinkActive="active">Inicio</a-->

      <div class="nav-item dropdown" ngbDropdown >
        <a class="nav-link dropdown-toggle" id="dropdownVer" ngbDropdownToggle>Ver</a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownVer">
          <a class="dropdown-item" routerLink="/consolidado" [queryParams]="{'cal_anio':year, 'cal_semestre':semester, 'sed_centro_educativo':1, 'modalidad':1, 'autorizada':'true'}" routerLinkActive="active" title="Consolidado" (click)="toggleMenu()">Consolidado</a>
        </div>
      </div>  
      
    </div>
  </div>
</nav>
