<div class="card" >
  <div class="card-header" (click)="optCard = !optCard">Opciones</div>
  <div class="card-body" [hidden]="!optCard">
    <form [formGroup]="searchForm" novalidate (ngSubmit)="onSubmit()">       
      <!--app-search-all [form]="searchForm" [data$]="params$"></app-search-all-->
      <app-consolidado-search-params [form]="searchForm" [params$]="params$"></app-consolidado-search-params>
      <!--app-sede-search-condition [form]="searchForm" [data$]="condition$"></app-sede-search-condition-->
      <div class="ml-5">
        <button type="submit" class="btn btn-primary btn-sm">Buscar <span class="oi oi-magnifying-glass"></span></button>
      </div>
    </form>
  </div>
</div>    
  